# Environment variables
.env
.env.*.local

# Build output
.next/
out/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
.env.local
.env.test

/app/generated/prisma

# Generated assets
tsconfig.tsbuildinfo
public/images/source

# Generated project tree
app-tree.txt

# Playwright
playwright-report
test-results
.pw-browsers
